/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

// $primary: #3a86ff;
$primary: #1982c4;
// $primary: #b5179e;
// $primary: #7209b7;
// $navbar-bg: #FF8B13;
// $primary: #fb8500;
// $secondary: #f6fff8;
// $link-color: #ffb703;
// $sidebar-hl: #000000;
// $navbar-hl: #bee9e8;
// $navbar-hl: #70e000;
// $navbar-hl: #a41623;


/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  // text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}