
/* for inline code */
/* p code:not(.sourceCode) {
  font-size: 100% !important;
  color:deeppink;
  background-color:white;
} */

div.callout-others.callout {
  border-left-color:red;
  /* background-color: red; */
}

h2:not(#toc-title) {
  background-color:whitesmoke;
  padding: 6px 10px;
  /* position: relative; */
}

/* h2:before {
  content: "this is ";
  font-weight: bold;
  font-style: italic;
} */


.underline {
  text-decoration: underline;
  text-underline-offset: 200%;
}

.mathjax_display { 
  text-align: left !important;
  display: inline !important;
}